<div id="accordionFilterSearch" class="accordionParent">
  <div class="card">
    <div class="card-header collapsed" data-toggle="collapse" href="#collapseFilterSearch">
      <a class="card-title">
        <b>Cerca</b>
      </a>
    </div>

    <div id="collapseFilterSearch" class="card-body collapse" data-parent="#accordionFilterSearch">

      <div class="form-row">
        <div class="col-xs-4"><input class="form-control" placeholder="Filtra per" type="text" #filterFrontEnd /></div>
      </div>

    </div>
  </div>
</div>


<div class="clearfix">
  <div class="row">&nbsp;</div>
</div>
