<!--<div id="accordionTable" class="accordionParent">

  <div class="card mb-0">
    <div class="card-header collapsed" data-toggle="collapse" href="#collapseTable">
      <a class="card-title">
          <b>Visualizza</b>
      </a>
    </div>
    <div id="collapseTable" class="card-body collapse" data-parent="#accordionTable">
      <div  class="card card-block col-md-12" *ngFor="let sentence of sentences">
        <div class="row">
          <div class="col-md-7">
            <h4 class="card-title"> {{sentence.name}} - {{sentence.sentence}}</h4>
          </div>
          <div class="col-md-3">
            <h4 class="card-title"> {{sentence.time | date}} </h4>
          </div>
          <div class="col-md-1">
            <i class="fa fa-trash" aria-hidden="true" (click)="deleteSentence(sentence._id)" [style.cursor]="pointer"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div id="accordionTable" class="accordionParent">
  <div class="card mb-0">
    <div class="card-header collapsed" data-toggle="collapse" href="#collapseTable">
      <a class="card-title">
        <b>Visualizza</b>
      </a>
    </div>
    <div id="collapseTable" class="card-body collapse" data-parent="#accordionTable">
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
          <tr>
            <th style="width: 10%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 70%">
              <mfDefaultSorter by="sentence">Frase celebre</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="time">Quando</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="delete">Delete</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sentences">
            <td>{{item.name}}</td>
            <td>{{item.sentence}}</td>
            <td>{{item.time | date}}</td>
            <td>
              <i class="fa fa-trash" aria-hidden="true" (click)="deleteSentence(sentence._id)" [style.cursor]="pointer"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[1,1,1]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
